In [1]:
import os
import pandas as pd


csv_directory = 'data'

dataframes = []

# Loop through the files in the directory
for filename in os.listdir(csv_directory):
    #print ('reading '+ filename)
    if filename.endswith('.csv'):
        # Read each CSV file into a DataFrame
        file_path = os.path.join(csv_directory, filename)
        print ('reading '+ file_path)
        df = pd.read_csv(file_path)
        
        # Append the DataFrame to the list
        dataframes.append(df)
        print ('done ... ')

reading data\SimData_2022.07.28_10.07.30.csv
done ...
reading data\SimData_2022.07.28_10.11.13.csv

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

done ...
reading data\SimData_2022.07.28_10.59.59.csv
done ...
reading data\SimData_2022.07.28_11.47.45.csv
done ...
reading data\SimData_2022.07.28_12.16.14.csv
done ...
reading data\SimData_2022.07.28_13.45.28.csv
done ...
reading data\SimData_2022.07.28_14.02.12.csv
done ...
reading data\SimData_2022.07.28_14.19.29.csv
done ...
reading data\SimData_2022.07.28_14.44.18.csv
done ...

In [2]:
# Concatenate all DataFrames into one
combined_df = pd.concat(dataframes, ignore_index=True)
print ('done creation of combined df ')

done creation of combined df

In [3]:
combined_df.shape[0]

495022

In [4]:
combined_df

,Elapsed Time,Date,System UTC Time,Latitude,Longitude,Altitude(MSL),Altitude(AGL),Heading(mag),Heading(true),Pitch,...,Fuel Low Warning,Generator 0 Failure Warning,Generator 1 Failure Warning,Hydraulic System Warning,Rotor Low RPM Warning,Rotor High RPM Warning,Tail Rotor Chip Warning,Transmission Chip Warning,Transmission Oil Temp Warning,Transmission Oil Pressure Warning
0,(s),(mm/dd/yyyy),(HH:MM:SS.ss),deg,deg,feet,feet,deg,deg,deg,...,boolean,failure_enum,failure_enum,boolean,boolean,boolean,failure_enum,bitfield,bitfield,bitfield
1,NaN,07/28/2022,14:07:52.429,Scenario Starts,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.017,07/28/2022,14:07:52.445,39.464851,-74.565964,57.58,0.06,218.647,206.346,0.041,...,0,0,0,0,0,0,0,0,0,0
3,0.038,07/28/2022,14:07:52.467,39.464851,-74.565964,57.58,0.06,218.622,206.322,0.038,...,0,0,0,0,0,0,0,0,0,0
4,0.056,07/28/2022,14:07:52.485,39.464851,-74.565964,57.58,0.06,218.607,206.307,0.036,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495017,1477.53,07/28/2022,19:09:19.798,33.336769,-118.311,16.35,0.14,186.819,198.51,10.068,...,0,0,0,0,0,0,0,0,0,0
495018,1477.55,07/28/2022,19:09:19.821,33.336769,-118.311,16.35,0.14,186.819,198.51,10.068,...,0,0,0,0,0,0,0,0,0,0
495019,1477.58,07/28/2022,19:09:19.847,33.336769,-118.311,16.35,0.14,186.819,198.51,10.068,...,0,0,0,0,0,0,0,0,0,0
495020,1477.6,07/28/2022,19:09:19.869,33.336769,-118.311,16.35,0.14,186.819,198.51,10.068,...,0,0,0,0,0,0,0,0,0,0
495021,NaN,07/28/2022,19:09:19.887,Mid-Scenario Paused,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df1 = combined_df

In [6]:
selected_df2 = df1[['Vert. Speed', 'Groundspeed', 'Altitude(AGL)','Date','System UTC Time']]
selected_df2

       Vert. Speed Groundspeed Altitude(AGL)          Date System UTC Time
0         feet/min         kts          feet  (mm/dd/yyyy)   (HH:MM:SS.ss)
1              NaN         NaN           NaN    07/28/2022    14:07:52.429
2           -0.001       0.041          0.06    07/28/2022    14:07:52.445
3            0.004       0.038          0.06    07/28/2022    14:07:52.467
4            0.008       0.032          0.06    07/28/2022    14:07:52.485
...            ...         ...           ...           ...             ...
495017        0.01           0          0.14    07/28/2022    19:09:19.798
495018        0.01           0          0.14    07/28/2022    19:09:19.821
495019        0.01           0          0.14    07/28/2022    19:09:19.847
495020       0.011           0          0.14    07/28/2022    19:09:19.869
495021         NaN         NaN           NaN    07/28/2022    19:09:19.887

[495022 rows x 5 columns]

In [7]:
datatypes = selected_df2.dtypes
print(datatypes)

Vert. Speed        object
Groundspeed        object
Altitude(AGL)      object
Date               object
System UTC Time    object
dtype: object

In [8]:
import pandas as pd

# Convert all columns to string to handle initial 'object' data type
selected_df2 = selected_df2.astype(str)

# Define a custom function to clean and convert values to float
def clean_and_convert(value):
    try:
        if value:  # Check if the string is not empty
            return float(value)
        else:
            return None
    except (ValueError, TypeError):
        return None  # Handle conversion errors by returning None

# Convert 'Vert. Speed', 'Groundspeed', and 'Altitude(AGL)' columns to float
selected_df2['Vert. Speed'] = selected_df2['Vert. Speed'].apply(clean_and_convert)
selected_df2['Groundspeed'] = selected_df2['Groundspeed'].apply(clean_and_convert)
selected_df2['Altitude(AGL)'] = selected_df2['Altitude(AGL)'].apply(clean_and_convert)

# Convert 'Date' to (mm/dd/yyyy) date type
selected_df2['Date'] = pd.to_datetime(selected_df2['Date'], format='%m/%d/%Y', errors='coerce')

# Convert 'System UTC Time' to (HH:MM:SS.ss) date type
selected_df2['System UTC Time'] = pd.to_datetime(selected_df2['System UTC Time'], format='%H:%M:%S.%f', errors='coerce')

In [9]:
datatypes = selected_df2.dtypes
print(datatypes)

Vert. Speed               float64
Groundspeed               float64
Altitude(AGL)             float64
Date               datetime64[ns]
System UTC Time    datetime64[ns]
dtype: object

In [10]:
selected_df2.count()

Vert. Speed        494989
Groundspeed        494989
Altitude(AGL)      494989
Date               495013
System UTC Time    495013
dtype: int64

In [11]:
#Check for missing values
import pandas as pd

# List of columns you want to check for missing values
columns_to_check = ['Vert. Speed', 'Groundspeed', 'Altitude(AGL)','Date','System UTC Time']

# Iterate through the selected columns and count missing values
missing_value_counts = {}
for column in columns_to_check:
    missing_count = selected_df2[column].isnull().sum()
    missing_value_counts[column] = missing_count

# Print the missing value counts
for column, count in missing_value_counts.items():
    print(f"Missing values in '{column}': {count}")

Missing values in 'Vert. Speed': 33
Missing values in 'Groundspeed': 33
Missing values in 'Altitude(AGL)': 33
Missing values in 'Date': 9
Missing values in 'System UTC Time': 9

In [12]:
duplicate_rows = selected_df2[selected_df2.duplicated()]
print("Number of duplicated rows:", len(duplicate_rows))

Number of duplicated rows: 8

In [13]:
original_df = selected_df2.copy()  # Creating a copy of the original DataFrame
selected_df2.dropna(subset=columns_to_check, inplace=True)

# Comparing the two DataFrames to see which rows were dropped
dropped_rows = len(original_df) - len(selected_df2)
print("Number of rows dropped:", dropped_rows)

Number of rows dropped: 33

In [14]:
#Count of rows after dropping missing values
selected_df2.count()

Vert. Speed        494989
Groundspeed        494989
Altitude(AGL)      494989
Date               494989
System UTC Time    494989
dtype: int64

In [15]:
selected_df2.describe()

         Vert. Speed    Groundspeed  Altitude(AGL)
count  494989.000000  494989.000000  494989.000000
mean      -21.959768      74.035150    1321.323966
std       547.950564      40.220744     922.553661
min     -2976.704000       0.000000      -0.770000
25%      -201.247000      50.697000     447.170000
50%        -0.013000      84.223000    1569.980000
75%        80.653000     104.134000    2051.970000
max      4729.745000     146.391000    2807.800000

In [16]:
import pandas as pd

# Create a function to classify maneuvers
def classify_maneuver(row):
    if (row['Groundspeed'] < 18) and (row['Groundspeed'] > 0.6)  and (row['Altitude(AGL)'] >= 25) and (row['Altitude(AGL)'] <= 100):
        return 'Air Taxi'
    elif (row['Vert. Speed'] > 90) and (row['Altitude(AGL)']>=100):
        return 'Climb/Ascent'
    elif (row['Vert. Speed'] < -90) and (row['Altitude(AGL)']>=100):
        return 'Descent'
    elif (row['Groundspeed'] <=18) and (row['Groundspeed'] > 0.6) and (row['Altitude(AGL)']>=2) and (row['Altitude(AGL)']<=25):
        return 'Hover Taxi'
    else:
        return 'Unknown'

# Apply the function to classify maneuvers for each row
selected_df2['Maneuver'] = selected_df2.apply(classify_maneuver, axis=1)

# Print the DataFrame with maneuver classification
print(selected_df2[['Groundspeed', 'Vert. Speed', 'Altitude(AGL)', 'Date','System UTC Time', 'Maneuver']])

        Groundspeed  Vert. Speed  Altitude(AGL)       Date  \
2             0.041       -0.001           0.06 2022-07-28
3             0.038        0.004           0.06 2022-07-28
4             0.032        0.008           0.06 2022-07-28
5             0.019        0.011           0.06 2022-07-28
6             0.010        0.013           0.06 2022-07-28
...             ...          ...            ...        ...
495016        0.000        0.010           0.14 2022-07-28
495017        0.000        0.010           0.14 2022-07-28
495018        0.000        0.010           0.14 2022-07-28
495019        0.000        0.010           0.14 2022-07-28
495020        0.000        0.011           0.14 2022-07-28

               System UTC Time Maneuver
2      1900-01-01 14:07:52.445  Unknown
3      1900-01-01 14:07:52.467  Unknown
4      1900-01-01 14:07:52.485  Unknown
5      1900-01-01 14:07:52.523  Unknown
6      1900-01-01 14:07:52.546  Unknown
...                        ...      ...
495016 1900-01-01 19:09:19.772  Unknown
495017 1900-01-01 19:09:19.798  Unknown
495018 1900-01-01 19:09:19.821  Unknown
495019 1900-01-01 19:09:19.847  Unknown
495020 1900-01-01 19:09:19.869  Unknown

[494989 rows x 6 columns]

In [17]:
import pandas as pd

# Create a function to classify maneuvers
def classify_maneuver(row):
    if (row['Groundspeed'] < 18) and (row['Groundspeed'] > 0.6)  and (row['Altitude(AGL)'] >= 25) and (row['Altitude(AGL)'] <= 100):
        return 'Air Taxi'
    elif (row['Vert. Speed'] > 90) and (row['Altitude(AGL)']>=100):
        return 'Climb/Ascent'
    elif (row['Vert. Speed'] < -90) and (row['Altitude(AGL)']>=100):
        return 'Descent'
    elif (row['Groundspeed'] <=18) and (row['Groundspeed'] > 0.6) and (row['Altitude(AGL)']>=2) and (row['Altitude(AGL)']<=25):
        return 'Hover Taxi'
    else:
        return 'Unknown'

# Apply the function to classify maneuvers for each row
selected_df2['Maneuver'] = selected_df2.apply(classify_maneuver, axis=1)

# Creating a DataFrame to count the occurrences of each maneuver
maneuver_counts = selected_df2['Maneuver'].value_counts().reset_index()
maneuver_counts.columns = ['Maneuver', 'Count']

# Print the DataFrame with maneuver classification
print(selected_df2[['Groundspeed', 'Vert. Speed', 'Altitude(AGL)', 'Date','System UTC Time', 'Maneuver']])

        Groundspeed  Vert. Speed  Altitude(AGL)       Date  \
2             0.041       -0.001           0.06 2022-07-28
3             0.038        0.004           0.06 2022-07-28
4             0.032        0.008           0.06 2022-07-28
5             0.019        0.011           0.06 2022-07-28
6             0.010        0.013           0.06 2022-07-28
...             ...          ...            ...        ...
495016        0.000        0.010           0.14 2022-07-28
495017        0.000        0.010           0.14 2022-07-28
495018        0.000        0.010           0.14 2022-07-28
495019        0.000        0.010           0.14 2022-07-28
495020        0.000        0.011           0.14 2022-07-28

               System UTC Time Maneuver
2      1900-01-01 14:07:52.445  Unknown
3      1900-01-01 14:07:52.467  Unknown
4      1900-01-01 14:07:52.485  Unknown
5      1900-01-01 14:07:52.523  Unknown
6      1900-01-01 14:07:52.546  Unknown
...                        ...      ...
495016 1900-01-01 19:09:19.772  Unknown
495017 1900-01-01 19:09:19.798  Unknown
495018 1900-01-01 19:09:19.821  Unknown
495019 1900-01-01 19:09:19.847  Unknown
495020 1900-01-01 19:09:19.869  Unknown

[494989 rows x 6 columns]

In [18]:
# Initialize counts
air_taxi_count = 0
hover_taxi_count = 0
climb_count = 0
descent_count = 0

# Iterate through the 'maneuver_counts' DataFrame and count instances
for index, row in maneuver_counts.iterrows():
    maneuver = row['Maneuver']
    count = row['Count']
    if 'Air Taxi' in maneuver:
        air_taxi_count += count
    elif 'Hover Taxi' in maneuver:
        hover_taxi_count += count
    elif 'Climb' in maneuver:
        climb_count += count
    elif 'Descent' in maneuver:
        descent_count += count

# Calculate total rows
total_rows = sum([air_taxi_count, hover_taxi_count, climb_count, descent_count])

# Print counts and total rows
print(f'Air Taxi Count: {air_taxi_count}')
print(f'Hover Taxi Count: {hover_taxi_count}')
print(f'Climb Count: {climb_count}')
print(f'Descent Count: {descent_count}')
print(f'Total Rows: {total_rows}')

Air Taxi Count: 9711
Hover Taxi Count: 15070
Climb Count: 112188
Descent Count: 144160
Total Rows: 281129

##### Physics Model 2

In [19]:
def is_close_to_zero(value, tolerance=1e-6):
    return abs(value) < tolerance

# Create a function to identify phases
def identify_phase(Vert_Speed, Groundspeed, Altitude_AGL):
    if is_close_to_zero(Vert_Speed) and Groundspeed < 0.6 and 0 <= Altitude_AGL < 2:
        return "Standing"
    elif is_close_to_zero(Vert_Speed) and 0.6 <= Groundspeed < 20 and 0 <= Altitude_AGL < 2:
        return "Surface Taxi"
    elif is_close_to_zero(Vert_Speed) and 0.6 <= Groundspeed < 30 and 2 <= Altitude_AGL < 25:
        return "Hover Taxi"
    elif is_close_to_zero(Vert_Speed) and 0.6 <= Groundspeed < 50 and 25 <= Altitude_AGL < 100:
        return "Air Taxi"
    elif -90 <= Vert_Speed <= 90 and Groundspeed <= 0.6 and Altitude_AGL < 2:
        return "Hover In Ground Effect"
    elif -90 <= Vert_Speed <= 90 and Groundspeed <= 0.6 and Altitude_AGL >= 100:
        return "Hover"
    elif Vert_Speed > 90 and Groundspeed <= 0.6 and Altitude_AGL < 100:
        return "Hover Lift"
    elif Vert_Speed < -90 and Groundspeed <= 0.6 and Altitude_AGL < 100:
        return "Hover Descent"
    elif Vert_Speed > 90 and Altitude_AGL >= 100:
        return "Climb"
    elif -90 <= Vert_Speed <= 90 and Groundspeed > 0.6 and Altitude_AGL >= 100:
        return "Cruise"
    elif Vert_Speed < -90 and Altitude_AGL >= 100:
        return "Descent"
    else:
        return "LandingOrTakeOff"

# Apply the function to identify phases for each row
selected_df2['Phase'] = selected_df2.apply(lambda row: identify_phase(row['Vert. Speed'], row['Groundspeed'], row['Altitude(AGL)']), axis=1)

# Print the DataFrame with phase identification
print(selected_df2[['Vert. Speed', 'Groundspeed', 'Altitude(AGL)', 'Date', 'System UTC Time', 'Phase']])

        Vert. Speed  Groundspeed  Altitude(AGL)       Date  \
2            -0.001        0.041           0.06 2022-07-28
3             0.004        0.038           0.06 2022-07-28
4             0.008        0.032           0.06 2022-07-28
5             0.011        0.019           0.06 2022-07-28
6             0.013        0.010           0.06 2022-07-28
...             ...          ...            ...        ...
495016        0.010        0.000           0.14 2022-07-28
495017        0.010        0.000           0.14 2022-07-28
495018        0.010        0.000           0.14 2022-07-28
495019        0.010        0.000           0.14 2022-07-28
495020        0.011        0.000           0.14 2022-07-28

               System UTC Time                   Phase
2      1900-01-01 14:07:52.445  Hover In Ground Effect
3      1900-01-01 14:07:52.467  Hover In Ground Effect
4      1900-01-01 14:07:52.485  Hover In Ground Effect
5      1900-01-01 14:07:52.523  Hover In Ground Effect
6      1900-01-01 14:07:52.546  Hover In Ground Effect
...                        ...                     ...
495016 1900-01-01 19:09:19.772  Hover In Ground Effect
495017 1900-01-01 19:09:19.798  Hover In Ground Effect
495018 1900-01-01 19:09:19.821  Hover In Ground Effect
495019 1900-01-01 19:09:19.847  Hover In Ground Effect
495020 1900-01-01 19:09:19.869  Hover In Ground Effect

[494989 rows x 6 columns]

In [20]:
# Count each type of phase
phase_counts = selected_df2['Phase'].value_counts()

# Print the counts
print(phase_counts)

Cruise                    156766
Descent                   144160
Climb                     112188
LandingOrTakeOff           39716
Hover In Ground Effect     32096
Standing                    9986
Hover Descent                 56
Hover Lift                    20
Surface Taxi                   1
Name: Phase, dtype: int64

### Balancing the dataset

In [21]:
'''
from imblearn.over_sampling import SMOTE
import pandas as pd

# X should contain features (independent variables), and y should contain target variable (Phase)

# Separate the features and target variable
X = selected_df2[['Vert. Speed', 'Groundspeed', 'Altitude(AGL)']]
y = selected_df2['Phase']

# Initialize SMOTE
smote = SMOTE(sampling_strategy='auto', random_state=42)  # You can adjust the sampling strategy as needed

# Apply SMOTE to generate synthetic samples
X_resampled, y_resampled = smote.fit_resample(X, y)

# Create a new DataFrame with the resampled data
resampled_df = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.Series(y_resampled, name='Phase')], axis=1)

# Print the count of each class after SMOTE
print(resampled_df['Phase'].value_counts())
'''

"\nfrom imblearn.over_sampling import SMOTE\nimport pandas as pd\n\n# X should contain features (independent variables), and y should contain target variable (Phase)\n\n# Separate the features and target variable\nX = selected_df2[['Vert. Speed', 'Groundspeed', 'Altitude(AGL)']]\ny = selected_df2['Phase']\n\n# Initialize SMOTE\nsmote = SMOTE(sampling_strategy='auto', random_state=42)  # You can adjust the sampling strategy as needed\n\n# Apply SMOTE to generate synthetic samples\nX_resampled, y_resampled = smote.fit_resample(X, y)\n\n# Create a new DataFrame with the resampled data\nresampled_df = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.Series(y_resampled, name='Phase')], axis=1)\n\n# Print the count of each class after SMOTE\nprint(resampled_df['Phase'].value_counts())\n"

In [22]:
#SVM
from sklearn import svm
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [23]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
features_to_scale = ['Vert. Speed', 'Groundspeed', 'Altitude(AGL)']
selected_df2[features_to_scale] = scaler.fit_transform(selected_df2[features_to_scale])

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

X = selected_df2[['Vert. Speed', 'Groundspeed', 'Altitude(AGL)']]
y = selected_df2['Phase']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
clf = svm.SVC(kernel='linear')
clf.fit(X_train, y_train)
pred_y = clf.predict(X_test);

print ("")
print ("Classification Report: ")
print (classification_report(y_test, pred_y))

print ("")
print ("Accuracy Score: ", accuracy_score(y_test, pred_y))

Classification Report:

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

                        precision    recall  f1-score   support

                 Climb       1.00      0.92      0.96     22475
                Cruise       0.92      1.00      0.96     31481
               Descent       1.00      0.97      0.98     28594
         Hover Descent       0.00      0.00      0.00         8
Hover In Ground Effect       0.68      1.00      0.81      6488
            Hover Lift       0.00      0.00      0.00         4
      LandingOrTakeOff       0.97      0.86      0.91      7919
              Standing       0.00      0.00      0.00      2029

              accuracy                           0.94     98998
             macro avg       0.57      0.59      0.58     98998
          weighted avg       0.93      0.94      0.93     98998


Accuracy Score:  0.9394432210751732

In [25]:
print('Done with SVM Model')

Done with SVM Model